__pycache__/
*.pyc
*.pyo
.DS_Store # Если вдруг работаешь и на Mac
/build/ # Эта папка будет создана позже pygbag
/dist/ # Эта папка может быть создана другими инструментами
venv/ # Если используешь виртуальное окружение
*.egg-info/